<nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">Git Search</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/">Home</a></li>

          </ul>
        </div>
      </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
